body {
	font-family: Merriweather, 'Times New Roman', serif;
	font-size: 14px;
	background-color: #222222;
} 

.chinese {
	font-weight: 400;
	font-family: 'Times', serif;
	margin-left: 5px;
}

a {
    color: #0174DF;
    text-decoration: none;
    font-weight: bold;
}
h1 {
	margin-bottom: -5px;
}
h2 {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	font-size: 20px;
}

h3 {
	font-size: 15px;
	margin-bottom: 5px;
}

h4 {
	font-size: 13px;
	margin-bottom: 0px;
}

#Wrapper {
	background-color: #FFFFFF;
	/*margin: 0 10%;*/
	width: 100%;
	max-width: 850px;
	margin: 0 auto;

	/*min-height: 98%;*/
	padding-bottom: 2%;
}

#Header {
	position: relative;
	margin: 0;
	padding: 0 60px;
	width: 100%;
	margin-bottom: -20px;
}

#NameAndTitle {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20%;
	max-width: 100%;
}
#NameAndTitle #name {
	padding-left: 25%;
	width: 100%;
}

#NameAndTitle img {
	width: 20%;
	border-radius: 10px;
	float: left;
	margin-top: 25px;
}


@media(max-width: 460px) {
	#Header {
		margin-left: -20px;
	}
	#NameAndTitle #name {
		padding: 0;
	}
	#NameAndTitle img {
		margin-right: 15px;
	}
}

#Content {
	padding-left: 40px;
	padding-right: 40px;
}

#Content #Abstract {
	position: static;
	display: inline-block;
	width: 100%;
	text-align: justify;
	padding-right: 5%;

}

.footnote {
  /*border-top: 1px solid black;*/
  text-align: right;
  padding-right: 5%;
}
